<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cart.css">
</head>
<body>
    <div class="cart__container">
        <div class="cart__wrapper">
            <div class="products__container">
                <div class="product__control">
                    <h2>Products In Cart</h2>
                    <div class="pages__control">
                        <div class="limit__pages">
                            <span> LIMIT :</span>
                             <input type="number" class="limit_page_input limit_input" min="1" placeholder="1">
                        </div>
                        <div class="page_number">
                            <span>PAGE:</span>
                            <button class="limit_page_input limit_button1"> < </button>
                            <span>1</span>
                            <button class="limit_page_input limit_button2" > > </button>
                        </div>

                    </div>
                </div>

                    <div class="product__items">
<!--     Product item 1               -->
                        
                        <div class="cart_item">
                            <div class="item_i"> 
                                <span>1</span> 
                            </div>
                            <div class="item_info">
                                <img src="https://i.dummyjson.com/data/products/1/thumbnail.jpg" alt="image" class="item_image">
                                <div class="item_details">
                                    <div class="product_title">
                                        <h3 class="product_name">iPhone9</h3>
                                    </div>
                                    <div class="product_description">
                                        <span> An apple mobile which is nothing like apple </span>
                                    </div>
                                    <div class="product_other">
                                        <div class="product_rating">
                                            <span>Rating: 4.69</span>
                                        </div>
                                        <div class="product_discount">
                                            <span>Discount: 12.96%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product_number_control">
                                <div class="stock_control">
                                    <span>Stock: 94</span>
                                </div>
                                <div class="stock_button_control">
                                    <button class="stock_plus">+</button>
                                    <span>1</span>
                                    <button class="stock_minus">-</button>
                                </div>
                                <div class="amount_control">
                                    <span> €549.00 </span>
                                </div>
                            </div>
                        </div>
<!--     Product item 1 end              -->
<!--     Product item 2               -->
                        
<div class="cart_item">
    <div class="item_i"> 
        <span>2</span> 
    </div>
    <div class="item_info">
        <img src="https://i.dummyjson.com/data/products/1/thumbnail.jpg" alt="image" class="item_image">
        <div class="item_details">
            <div class="product_title">
                <h3 class="product_name">iPhone9</h3>
            </div>
            <div class="product_description">
                <span> An apple mobile which is nothing like apple </span>
            </div>
            <div class="product_other">
                <div class="product_rating">
                    <span>Rating: 4.69</span>
                </div>
                <div class="product_discount">
                    <span>Discount: 12.96%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="product_number_control">
        <div class="stock_control">
            <span>Stock: 94</span>
        </div>
        <div class="stock_button_control">
            <button class="stock_plus">+</button>
            <span>1</span>
            <button class="stock_minus">-</button>
        </div>
        <div class="amount_control">
            <span> €549.00 </span>
        </div>
    </div>
</div>
<!--     Product item 2 end              -->
<!--     Product item 3               -->
                        
<div class="cart_item">
    <div class="item_i"> 
        <span>3</span> 
    </div>
    <div class="item_info">
        <img src="https://i.dummyjson.com/data/products/1/thumbnail.jpg" alt="image" class="item_image">
        <div class="item_details">
            <div class="product_title">
                <h3 class="product_name">iPhone9</h3>
            </div>
            <div class="product_description">
                <span> An apple mobile which is nothing like apple </span>
            </div>
            <div class="product_other">
                <div class="product_rating">
                    <span>Rating: 4.69</span>
                </div>
                <div class="product_discount">
                    <span>Discount: 12.96%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="product_number_control">
        <div class="stock_control">
            <span>Stock: 94</span>
        </div>
        <div class="stock_button_control">
            <button class="stock_plus">+</button>
            <span>1</span>
            <button class="stock_minus">-</button>
        </div>
        <div class="amount_control">
            <span> €549.00 </span>
        </div>
    </div>
</div>
<!--     Product item 3 end              -->


                    </div>
                    
                

            </div>

            <div class="summary__container">
                <h2 class="summary">Summary</h2>
                <div class="total_price">
                    <span>Products:</span>
                    <span>7</span>
                </div>
                <div class="total_price old_price">
                    <span>Total:</span>
                    <span> €13549.00 </span>
                </div>
                <div class="result_price total_price">
                    <span>Total:</span>
                    <span> €10549.00 </span>
                </div>
                <div class="apply_codes">
                    <h3 class="apply_txt">Applied codes</h3>
                    <div class="applied_promo">
                        <span> Rolling Scopes School - 10% - </span>
                        <span class="apply_drop">DROP</span>
                    </div>
                </div>
                <div class="promo_code">
                    <input type="search" placeholder="Enter promo code" class="input_promo promo_valid">
                </div>
                <div class="res_promo">
                    <span>Roolling Scopes School -10%</span>
                </div>
                <span class="test_promo">Promo for test: 'RS'</span>
                <button class="button_buy">BUY NOW</button>


            </div>




        </div>

    </div>


</body>
</html>