.main {
    
    &__container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        min-height: 85vh;
        width: 100%;
    }

    &__filters,
    &__products {
        border: 1px solid orange;
        border-radius: 16px;
        background: rgba(24,26,28,.5);
    }
    &__filters {
        padding: 20px;
        width: 25%;
        height: -moz-fit-content;
        height: fit-content;
    }

    &__products {
        width: 74%;
        overflow: hidden;
    }

    &__btn {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 80%;
        overflow: hidden;
        color: var(--color-orange);
        text-align: center;
        border: 1px solid var(--color-orange);
        border-radius: 0.3rem;
        background-color: #181a1c;
        cursor: pointer;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

        &:focus-visible,
        &:hover {
            color: wheat;
            background-color: rgba(77, 47, 20, 0.9490196078);
        }
    }
}

.filters {
    &__controls {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__category,
    &__brand,
    &__slider {
        margin-bottom: 10px;
        display: block;
        overflow: hidden;
        color: var(--color-orange);
        border: 1px solid orange;
        border-radius: 10px;
    }

    &__btn {
        background-color: #181a1c;
        border: 1px solid orange;
        border-radius: 0.3rem;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 120%;
        cursor: pointer;
    }
}

.brand,
.category,
.slider {
    &__title {
        margin: 0;
        text-align: center;
        border-bottom: 1px solid orange;
        background-color: #181a1c;
    }
}

.brand,
.category {
    &__list {
        height: 10rem;
    }
}

.slider {
    &__info {
        margin-top: 10px;
        text-align: center;
    }

    &__ranges {
        position: relative;
        height: 2rem;
    }

    &__range {
        position: absolute;
        width: 96%;
        margin: 2%;
        overflow: hidden;
        outline: none;
        background: linear-gradient(orange,orange) no-repeat center;
        background-size: 100% 2px;
        -webkit-appearance: none;
        appearance: none;
        pointer-events: none;

        &:nth-child(2) {
            background: none;
        }
    }
}

.products {
    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5%;
        border-bottom: 1px solid orange;
        background: rgba(24,26,28,.5);
    }

    &__cards {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        // gap: 1rem;
        padding: .5%;
        display: flex;
        flex-wrap: wrap;
    }
}

.controls {
    &__sort {
        padding: 0 1em;
        flex: 1;
        text-align: center;
        color: orange;
        border: 0;
        border: 1px solid orange;
        border-radius: 1rem;
        background-color: #181a1c;
        outline: 0;
        cursor: pointer;
    }

    &__found {
        color: wheat;
    }

    &__search {
        padding: 0.2rem;
        width: 140%;
        font-size: 80%;
        text-align: center;
        color: orange;
        border: 1px solid orange;
        border-radius: 2rem;
        background-color: #181a1c;
        outline: none;
    }

    &__switchers {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__view {
        margin-left: 0.5rem;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border: 1px solid orange;
        border-radius: 0.3rem;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;

        &--active {
            box-shadow: 0 0 3px 1px #c45f07;
            border: 1px solid rgb(235,68,68);
        }
    }

    &__view-small .view-item,
    &__view-big .view-item {
        white-space: nowrap;
        width: 12%;
        height: 12%;
        margin: 2%;
        font-size: 50%;
        border-radius: 100%;
        overflow: hidden;
        background: orange;
        -webkit-user-select: none;
        user-select: none;
    }

    &__view-big .view-item {
        width: 20%;
        height: 20%;
        margin: 2%;
    }

    &__view--active .view-item {
        box-shadow: 0 0 1px 1px #c45f07;
    }
}

.card {
    position: relative;
    width: 14.6%;
    padding-top: 12%;
    margin: 1%;
    border: 1px solid orange;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-size: cover;
    }

    &__text-content {
        width: 100%;
        height: 83%;
        cursor: pointer;
    }

    &__title {
        margin: 0;
        padding: 1%;
        font-size: 90%;
        text-align: center;
        color: var(--color-orange);
        white-space: nowrap;
        border-bottom: 1px solid orange;
        background: rgba(24,26,28,.8);
    }

    &__info {
        display: none;
    }

    &__text {
        padding: 0;
        margin: 0;
        font-size: .6rem;
        color: wheat;
    }

    &__attrebute {
        font-size: .6rem;
        color: #bb954e;
    }

    &__btns {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 15%;
    }
}

.card-big {
    width: 23%;
    padding-top: 20%;

    &__wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-size: cover;
    }

    &__text-content {
        width: 100%;
        height: 83%;
        cursor: pointer;
    }

    &__title {
        margin: 0;
        padding: 1%;
        font-size: 90%;
        text-align: center;
        color: var(--color-orange);
        white-space: nowrap;
        border-bottom: 1px solid var(--color-orange);
        background: rgba(24,26,28,.8);
    }

    & .card__info {
        display: block;
        width: 55%;
        background-color: #4d2f14f2;
        border-radius: 0 0 0.4rem;
        border-bottom: 1px solid var(--color-orange);
        border-right: 1px solid var(--color-orange);
        padding: 1%;
    }
}

.in-cart {
    box-shadow: 0 0 5px 2px #c45f07;
    border: 1px solid rgb(235,68,68);
}


