.header {
    background-color: var(--color-black);

    &__container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid orange;
        border-right: 2px solid orange;
        border-left: 2px solid orange;
        border-radius: 0 0 50px 50px;
        color: var(--color-orange);
    }

    &__link {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: text-shadow 0.15s ease-in-out;


        &:focus,
        &:hover {
            transition: text-shadow 0.15s ease-in-out;
            text-shadow: 0 0 10px rgb(88 68 68), 0 0 5px red, 0 0 10px red, 0 0 15px red;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        padding-bottom: 5%;
        font-size: 400%;
        line-height: 100%;
        color: var(--color-orange);
        pointer-events: none;
    }

    &__brand {
        margin-left: 1rem;
        color: var(--color-orange);
        font-size: 160%;
        pointer-events: none;
    }

    &__total-price {
        display: flex;
        align-items: center;
        color: var(--color-wheat)
    }

    &__text {
        margin-right: 6px;
    }

    &__cart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 90px;
        color: var(--color-orange);
        background-image: url(../../assets/images/cart.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: transform 0.15s ease-in-out;

        &:focus,
        &:hover {
            transform: scale(0.9);
            transition: transform 0.15s ease-in-out;
        }
    }

    &__cart-cnt {
        width: 30px;
        height: 30px;
        border: 1px solid var(--color-orange);
        border-radius: 50%;
        font-size: 130%;
        line-height: 130%;
        text-align: center;
        vertical-align: middle;
        background-color: var(--color-black);
        pointer-events: none;
    }
}