.footer {

    &__container {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 2px solid orange;
        border-right: 2px solid orange;
        border-left: 2px solid orange;
        border-radius: 50px 50px 0 0;
        background-color: var(--color-black);
        color: var(--color-orange);

        @media (max-width: 550px) {
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 25px 25px 0 0;
        }
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__rss {
        display: block;
        width: 90px;
        height: 38px;

        & svg path {
            transition: fill 0.15s ease-in-out;
            fill: var(--color-orange);
        }

        & svg .JS {
            transition: fill 0.15s ease-in-out;
            fill: var(--color-black);
        }

        &:focus svg path,
        &:hover svg path {
            transition: fill 0.15s ease-in-out;
            fill: var(--color-wheat);
        }

        &:focus svg .JS,
        &:hover svg .JS {
            transition: fill 0.15s ease-in-out;
            fill: var(--color-black);
        }

        @media (max-width: 550px) {
            width: 50px;
            height: 22px;
        }
    }

    &__date {
        margin: 0;

        @media (max-width: 550px) {
            font-size: 10px;
        }
    }

    &__link {
        color: var(--color-orange);
        transition: text-shadow 0.15s ease-in-out;

        &--first {
            margin-right: 16px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: -9px;
                top: 50%;
                display: inline-block;
                height: 3px;
                width: 3px;
                border-radius: 5px;
                background-color: var(--color-orange);
                transform: translateY(-50%);
            }
        }

        &:focus-visible,
        &:hover {
            text-shadow: 0 0 10px rgb(88 68 68), 0 0 5px red, 0 0 10px red, 0 0 15px red;
            transition: text-shadow 0.15s ease-in-out;
        }

        @media (max-width: 550px) {
            font-size: 10px;
        }
    }
}